/* ========================================================================== */
   RESET
/* ========================================================================== */

body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, form, fieldset, legend, input, textarea, img, blockquote, iframe, code, pre{
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

img{
	display: block;
}

a, a:hover, a:active, a:focus{
	text-decoration: none;
}


/* ========================================================================== */
   HTML5
/* ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary{
	display: block;
}

audio, canvas, video{
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

audio:not([controls]){
	display: none;
	height: 0;
}

svg:not(:root){
	overflow: hidden;
}


/* ========================================================================== */
   BROWSER QUIRKS
/* ========================================================================== */

a:active, a:focus{
	outline: none;
}

img{
	-ms-interpolation-mode: bicubic;
}

pre{
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

button, input{
	line-height: normal;
}

button,
html input[type="button"], input[type="reset"], input[type="submit"]{
	-webkit-appearance: button;
	cursor: pointer;
	*overflow: visible;
}

input[type="checkbox"], input[type="radio"]{
	box-sizing: border-box;
	padding: 0;
	*height: 13px;
	*width: 13px;
}

input[type="search"]{
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration{
	-webkit-appearance: none;
}

button:focus, button:active, input:focus, input:active, textarea:focus{
	outline: none;
}

button::-moz-focus-inner, input::-moz-focus-inner{
	border: 0;
	padding: 0;
}

textarea{
	-moz-resize: none;
	resize: none;
	overflow: auto;
}

textarea:focus{
	-moz-resize: both;
	resize: both;
}


/* ========================================================================== */
   COMMON
/* ========================================================================== */

.wrap{
	width: 940px;
	margin: 0 auto;
}

.clear{
	clear: both;
}

/* - Selection Color - */

::-moz-selection{
	color: #fff;
	background: #000;
}

::selection{
	color: #fff;
	background: #000;
}


/* - Micro Clearfix - */

.cf:before, .cf:after {
	content: "";
	display: table;
}
.cf:after {
	clear: both;
}
.cf {
	zoom: 1;
}


/* - Simple Clearfix - */

.scf{
	overflow:hidden;
	*overflow:visible;
	zoom:1;
}


/* ========================================================================== */
   TYPOGRAPHY
/* ========================================================================== */

body{
	font: 12px sans-serif;
	color: #444;
}

a{

}

a:hover{

}

p{
	margin-bottom: 10px;
	line-height: 1.4em;
}

h1, h2, h3, h4, h5, h6{

}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

h2 {
	font-size: 1.5em;
	margin: 0.83em 0;
}

h3 {
	font-size: 1.17em;
	margin: 1em 0;
}

h4 {
	font-size: 1em;
	margin: 1.33em 0;
}

h5 {
	font-size: 0.83em;
	margin: 1.67em 0;
}

h6 {
	font-size: 0.75em;
	margin: 2.33em 0;
}


/* ========================================================================== */
   MODULES
/* ========================================================================== */

/* - media module - */

.media{
	overflow:hidden;
	*overflow:visible;
	zoom:1;
}
.media .img{
	float:left;
}
.media .img img{
	display:block;
}
.media .imgExt{
	float:right;
}


/* - nav module - */

.nav{
	list-style: none;
	margin: 0;
}
.nav li{
	display: inline;
}
.nav a{
	display: inline-block;
}


/* ========================================================================== */
   HEADER
/* ========================================================================== */



/* ========================================================================== */
   FOOTER
/* ========================================================================== */



/* ========================================================================== */
   MAIN
/* ========================================================================== */